.ProductCard {
  display: flex;
  flex-direction: column;
}

.ProductCard .card-image {
  cursor: pointer;
}

.ProductCard .card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ProductCard .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ProductCard .product-name {
  display: flex;
  align-items: center;
}

.ProductCard .card-image .tag {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
}

.ProductCard .content:first-child {
  flex: 0 0 auto;
}

.ProductCard .content:last-child {
  flex: 0 0 auto;
}

.ProductCard .content:not(:last-child) {
  margin-bottom: 1rem;
}
